body {
  font-family: 'Figtree', sans-serif;
}

.bot-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.user-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}